.container {
  display: flex;
  width: 300px;
}

.side {
  flex: 1;
  padding: 10px;
}

.side-content-center {
  display: flex;
  align-items: center;
}

p{
  font-size: 1.9vw;
  font-family: 'Amatic SC', cursive;
}

