.Footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100px;
    color:red;
  }
  
  .social-icon {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  
  }
  
  .social-icon a {
    margin-right: 15px;
  }