body {
  font-family: 'Alkalami', serif;
  width: 100%;
  font-weight: bolder;
}

.container {
  background-color: #5AC3B0;
  width: 100%;
  margin: 0 auto;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%vh;

}

.nav-tabs {

  font-family: 'Amatic SC', cursive;
  font-size: 1.25vw;
  display: flex;
  justify-content: right;
  margin-right: 30px;
  color:#DE5935
  

}

#header {
  background-color: #F7CD46;
  width: 100%;
  
}

.nav-link {
  color: #DE5935;
}



h1 {
  font-family: 'Caveat', cursive;
}

.btn {
  background-color: #DE5935;
  color: white;
  font-size: 20px;
  padding: 10px 60px;
  border-radius: 5px;
  margin: 10px 0px;
  cursor: pointer;
}

.btn:hover {
  background-color: #F7CD46;
  color: #DE5935
}

h2 {
  display: block;
  margin:50px;
  text-align: center;
  justify-content: center;
  align-items: center;

}

form {
  text-align: center;
}


p, .deployed{
  font-size: 1vw;
  font-family: 'Amatic SC', cursive;
  text-align: center;
  justify-content: center;
  color:white
  
}

.deployed {
  display: block;
  margin: 0 auto;
 
}


#titles{
  font-size: 2vw;
}

